Repository BlackBoyZeus/tsukasa--og8yhx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/maintainers, @guardian/core-team, @guardian/security-team, @guardian/ml-team, @guardian/system-team, @guardian/devops-team, @guardian/api-team, @guardian/qa-team

Add public-samples/tsukasa--og8yhx/src/backend/src/ml/model_registry.rs
  src/backend/src/ml/model_registry.rs
Owners: @guardian/ml-team

Add public-samples/tsukasa--og8yhx/src/backend/src/ml/training_pipeline.rs
  src/backend/src/ml/training_pipeline.rs
Owners: @guardian/ml-team

Add public-samples/tsukasa--og8yhx/src/backend/src/security/anomaly_detection.rs
  src/backend/src/security/anomaly_detection.rs
Owners: @guardian/security-team

Add public-samples/tsukasa--og8yhx/src/backend/src/security/audit.rs
  src/backend/src/security/audit.rs
Owners: @guardian/security-team

Add public-samples/tsukasa--og8yhx/src/backend/src/security/crypto.rs
  src/backend/src/security/crypto.rs
Owners: @guardian/security-team

Add public-samples/tsukasa--og8yhx/src/backend/src/security/mod.rs
  src/backend/src/security/mod.rs
Owners: @guardian/security-team

Add public-samples/tsukasa--og8yhx/src/backend/src/security/response_engine.rs
  src/backend/src/security/response_engine.rs
Owners: @guardian/security-team

Add public-samples/tsukasa--og8yhx/src/backend/src/security/threat_detection.rs
  src/backend/src/security/threat_detection.rs
Owners: @guardian/security-team

Add public-samples/tsukasa--og8yhx/src/backend/src/storage/event_store.rs
  src/backend/src/storage/event_store.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/storage/metrics_store.rs
  src/backend/src/storage/metrics_store.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/storage/mod.rs
  src/backend/src/storage/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/storage/model_store.rs
  src/backend/src/storage/model_store.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/storage/zfs_manager.rs
  src/backend/src/storage/zfs_manager.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/mod.rs
  src/backend/src/temporal/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/activities/maintenance_activities.rs
  src/backend/src/temporal/activities/maintenance_activities.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/activities/mod.rs
  src/backend/src/temporal/activities/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/activities/monitoring_activities.rs
  src/backend/src/temporal/activities/monitoring_activities.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/activities/security_activities.rs
  src/backend/src/temporal/activities/security_activities.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/workflows/maintenance_workflow.rs
  src/backend/src/temporal/workflows/maintenance_workflow.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/workflows/mod.rs
  src/backend/src/temporal/workflows/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/workflows/monitoring_workflow.rs
  src/backend/src/temporal/workflows/monitoring_workflow.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/temporal/workflows/security_workflow.rs
  src/backend/src/temporal/workflows/security_workflow.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/utils/error.rs
  src/backend/src/utils/error.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/utils/logging.rs
  src/backend/src/utils/logging.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/utils/metrics.rs
  src/backend/src/utils/metrics.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/utils/mod.rs
  src/backend/src/utils/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/utils/validation.rs
  src/backend/src/utils/validation.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/tests/integration/api_tests.rs
  src/backend/tests/integration/api_tests.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/tests/integration/ml_tests.rs
  src/backend/tests/integration/ml_tests.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/tests/integration/mod.rs
  src/backend/tests/integration/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/tests/integration/security_tests.rs
  src/backend/tests/integration/security_tests.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/tests/integration/storage_tests.rs
  src/backend/tests/integration/storage_tests.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/tests/integration/temporal_tests.rs
  src/backend/tests/integration/temporal_tests.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/INSTALL.md
  src/freebsd/INSTALL.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/LICENSE
  src/freebsd/LICENSE
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/Makefile
  src/freebsd/Makefile
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/README.md
  src/freebsd/README.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/guardian.conf
  src/freebsd/guardian.conf
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/kernel.conf
  src/freebsd/kernel.conf
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/docs/BUILDING.md
  src/freebsd/docs/BUILDING.md
Owners: @guardian/maintainers

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for any unlisted files to ensure complete coverage
*                               @guardian/maintainers

# Core backend components including service implementations
src/backend/src/core/*          @guardian/core-team

# Security components including threat detection and response
src/backend/src/security/*      @guardian/security-team

# Machine learning components including models and training pipelines  
src/backend/src/ml/*            @guardian/ml-team

# FreeBSD kernel-level components
src/freebsd/src/kernel/*        @guardian/system-team

# Kernel security components require dual review
src/freebsd/src/security/*      @guardian/security-team @guardian/system-team

# Infrastructure components including deployment configurations
infrastructure/*                @guardian/devops-team

# GitHub-specific configurations and workflows
.github/*                       @guardian/maintainers

# Protocol buffer service interface definitions
*.proto                         @guardian/api-team

# Test files require QA team review
src/backend/tests/*             @guardian/qa-team
