Repository BlackBoyZeus/tsukasa--og8yhx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/maintainers, @guardian/core-team, @guardian/security-team, @guardian/ml-team, @guardian/system-team, @guardian/devops-team, @guardian/api-team, @guardian/qa-team

Add public-samples/tsukasa--og8yhx/src/freebsd/docs/HARDWARE_INTEGRATION.md
  src/freebsd/docs/HARDWARE_INTEGRATION.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/docs/KERNEL_MODULE.md
  src/freebsd/docs/KERNEL_MODULE.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/docs/SECURITY_FEATURES.md
  src/freebsd/docs/SECURITY_FEATURES.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/docs/TESTING.md
  src/freebsd/docs/TESTING.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/include/guardian_errors.h
  src/freebsd/include/guardian_errors.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/include/guardian_ioctl.h
  src/freebsd/include/guardian_ioctl.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/include/guardian_syscalls.h
  src/freebsd/include/guardian_syscalls.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/include/guardian_types.h
  src/freebsd/include/guardian_types.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/Makefile
  src/freebsd/src/hardware/Makefile
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/console_driver.c
  src/freebsd/src/hardware/console_driver.c
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/console_driver.h
  src/freebsd/src/hardware/console_driver.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/dma_controller.c
  src/freebsd/src/hardware/dma_controller.c
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/dma_controller.h
  src/freebsd/src/hardware/dma_controller.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/gpu_access.c
  src/freebsd/src/hardware/gpu_access.c
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/gpu_access.h
  src/freebsd/src/hardware/gpu_access.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/memory_manager.c
  src/freebsd/src/hardware/memory_manager.c
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/hardware/memory_manager.h
  src/freebsd/src/hardware/memory_manager.h
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/Makefile
  src/freebsd/src/kernel/Makefile
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/guardian_module.c
  src/freebsd/src/kernel/guardian_module.c
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/guardian_module.h
  src/freebsd/src/kernel/guardian_module.h
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/hsm_driver.c
  src/freebsd/src/kernel/hsm_driver.c
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/hsm_driver.h
  src/freebsd/src/kernel/hsm_driver.h
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/memory_protection.c
  src/freebsd/src/kernel/memory_protection.c
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/memory_protection.h
  src/freebsd/src/kernel/memory_protection.h
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/secure_boot.c
  src/freebsd/src/kernel/secure_boot.c
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/secure_boot.h
  src/freebsd/src/kernel/secure_boot.h
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/system_monitor.c
  src/freebsd/src/kernel/system_monitor.c
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/system_monitor.h
  src/freebsd/src/kernel/system_monitor.h
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/tpm_driver.c
  src/freebsd/src/kernel/tpm_driver.c
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/kernel/tpm_driver.h
  src/freebsd/src/kernel/tpm_driver.h
Owners: @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/Makefile
  src/freebsd/src/security/Makefile
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/audit_hooks.c
  src/freebsd/src/security/audit_hooks.c
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/audit_hooks.h
  src/freebsd/src/security/audit_hooks.h
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/capsicum_wrapper.c
  src/freebsd/src/security/capsicum_wrapper.c
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/capsicum_wrapper.h
  src/freebsd/src/security/capsicum_wrapper.h
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/geli_manager.c
  src/freebsd/src/security/geli_manager.c
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/geli_manager.h
  src/freebsd/src/security/geli_manager.h
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/jail_config.c
  src/freebsd/src/security/jail_config.c
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/jail_config.h
  src/freebsd/src/security/jail_config.h
Owners: @guardian/security-team, @guardian/system-team

Add public-samples/tsukasa--og8yhx/src/freebsd/src/security/mac_policy.c
  src/freebsd/src/security/mac_policy.c
Owners: @guardian/security-team, @guardian/system-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for any unlisted files to ensure complete coverage
*                               @guardian/maintainers

# Core backend components including service implementations
src/backend/src/core/*          @guardian/core-team

# Security components including threat detection and response
src/backend/src/security/*      @guardian/security-team

# Machine learning components including models and training pipelines  
src/backend/src/ml/*            @guardian/ml-team

# FreeBSD kernel-level components
src/freebsd/src/kernel/*        @guardian/system-team

# Kernel security components require dual review
src/freebsd/src/security/*      @guardian/security-team @guardian/system-team

# Infrastructure components including deployment configurations
infrastructure/*                @guardian/devops-team

# GitHub-specific configurations and workflows
.github/*                       @guardian/maintainers

# Protocol buffer service interface definitions
*.proto                         @guardian/api-team

# Test files require QA team review
src/backend/tests/*             @guardian/qa-team
