Repository BlackBoyZeus/tsukasa--og8yhx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/maintainers, @guardian/core-team, @guardian/security-team, @guardian/ml-team, @guardian/system-team, @guardian/devops-team, @guardian/api-team, @guardian/qa-team

Add public-samples/tsukasa--og8yhx/src/backend/benches/storage_bench.rs
  src/backend/benches/storage_bench.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/docs/API.md
  src/backend/docs/API.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/docs/ARCHITECTURE.md
  src/backend/docs/ARCHITECTURE.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/docs/ML.md
  src/backend/docs/ML.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/docs/README.md
  src/backend/docs/README.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/docs/SECURITY.md
  src/backend/docs/SECURITY.md
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/scripts/benchmark.sh
  src/backend/scripts/benchmark.sh
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/lib.rs
  src/backend/src/lib.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/main.rs
  src/backend/src/main.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/api/mod.rs
  src/backend/src/api/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/api/grpc/guardian_service.rs
  src/backend/src/api/grpc/guardian_service.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/api/grpc/ml_service.rs
  src/backend/src/api/grpc/ml_service.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/api/grpc/mod.rs
  src/backend/src/api/grpc/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/api/grpc/security_service.rs
  src/backend/src/api/grpc/security_service.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/api/proto/guardian.proto
  src/backend/src/api/proto/guardian.proto
Owners: @guardian/api-team

Add public-samples/tsukasa--og8yhx/src/backend/src/api/proto/ml.proto
  src/backend/src/api/proto/ml.proto
Owners: @guardian/api-team

Add public-samples/tsukasa--og8yhx/src/backend/src/api/proto/security.proto
  src/backend/src/api/proto/security.proto
Owners: @guardian/api-team

Add public-samples/tsukasa--og8yhx/src/backend/src/cli/mod.rs
  src/backend/src/cli/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/cli/commands/config.rs
  src/backend/src/cli/commands/config.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/cli/commands/mod.rs
  src/backend/src/cli/commands/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/cli/commands/models.rs
  src/backend/src/cli/commands/models.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/cli/commands/status.rs
  src/backend/src/cli/commands/status.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/cli/commands/threats.rs
  src/backend/src/cli/commands/threats.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/config/app_config.rs
  src/backend/src/config/app_config.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/config/ml_config.rs
  src/backend/src/config/ml_config.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/config/mod.rs
  src/backend/src/config/mod.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/config/security_config.rs
  src/backend/src/config/security_config.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/config/storage_config.rs
  src/backend/src/config/storage_config.rs
Owners: @guardian/maintainers

Add public-samples/tsukasa--og8yhx/src/backend/src/core/event_bus.rs
  src/backend/src/core/event_bus.rs
Owners: @guardian/core-team

Add public-samples/tsukasa--og8yhx/src/backend/src/core/guardian.rs
  src/backend/src/core/guardian.rs
Owners: @guardian/core-team

Add public-samples/tsukasa--og8yhx/src/backend/src/core/metrics.rs
  src/backend/src/core/metrics.rs
Owners: @guardian/core-team

Add public-samples/tsukasa--og8yhx/src/backend/src/core/mod.rs
  src/backend/src/core/mod.rs
Owners: @guardian/core-team

Add public-samples/tsukasa--og8yhx/src/backend/src/core/system_state.rs
  src/backend/src/core/system_state.rs
Owners: @guardian/core-team

Add public-samples/tsukasa--og8yhx/src/backend/src/ml/feature_extractor.rs
  src/backend/src/ml/feature_extractor.rs
Owners: @guardian/ml-team

Add public-samples/tsukasa--og8yhx/src/backend/src/ml/inference_engine.rs
  src/backend/src/ml/inference_engine.rs
Owners: @guardian/ml-team

Add public-samples/tsukasa--og8yhx/src/backend/src/ml/mod.rs
  src/backend/src/ml/mod.rs
Owners: @guardian/ml-team

Add public-samples/tsukasa--og8yhx/src/backend/src/ml/model_manager.rs
  src/backend/src/ml/model_manager.rs
Owners: @guardian/ml-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different components
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for any unlisted files to ensure complete coverage
*                               @guardian/maintainers

# Core backend components including service implementations
src/backend/src/core/*          @guardian/core-team

# Security components including threat detection and response
src/backend/src/security/*      @guardian/security-team

# Machine learning components including models and training pipelines  
src/backend/src/ml/*            @guardian/ml-team

# FreeBSD kernel-level components
src/freebsd/src/kernel/*        @guardian/system-team

# Kernel security components require dual review
src/freebsd/src/security/*      @guardian/security-team @guardian/system-team

# Infrastructure components including deployment configurations
infrastructure/*                @guardian/devops-team

# GitHub-specific configurations and workflows
.github/*                       @guardian/maintainers

# Protocol buffer service interface definitions
*.proto                         @guardian/api-team

# Test files require QA team review
src/backend/tests/*             @guardian/qa-team
